<td class="col-10 text-break ps-4 align-middle">
  <div class="sheet-text"></div>
</td>
<td class="col-2">
  <div class="btn-group" name="btn-group" role="group">
      <button type="radio" class="btn btn-outline-light border-2" name="check" data-bs-toggle="button">1</button>
      <button type="radio" class="btn btn-outline-light border-2" name="check" data-bs-toggle="button">2</button>
      <button type="radio" class="btn btn-outline-light border-2" name="check" data-bs-toggle="button">3</button>
      <button type="radio" class="btn btn-outline-light border-2" name="check" data-bs-toggle="button">4</button>
  </div>
</td>

