@import "bootstrap";

 .mw-md {
  max-width: 576px;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.container{
  padding: 60px 0 50px 0; 
}

::placeholder {
  font-size: 0.75em;
}

label{
  font-size: large;
}
