@import "bootstrap";

.fixed-background {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
 
.background {
  background: -moz-radial-gradient(#f1efec, #ccc0b1); 
  background: -webkit-radial-gradient(#f1efec, #ccc0b1); 
  background: radial-gradient(#f1efec, #ccc0b1); 
}

*:focus {
  box-shadow:none !important;
 }

.navbar{
  opacity:0.95;
}

.alert-notice {
  @extend .alert-warning;
}

.alert-alert {
  @extend .alert-danger;
}

::placeholder{
  font-size: 0.8em;
}

.form-control-lg{
  font-size:medium;
}

label{
  font-size: large;
}

#wrapper {
  padding: 100px 0 50px 0;

  > .card {
    max-width: 700px;
    border: none;
    margin: auto;
    padding: 2em;
  }

  > .row {
    max-width: 900px;
    border: none;
    margin: auto;
    padding: 1em 0;
    
    >.btn{
      max-width: 100px;
    }
  }
}

.row-mw {
  max-width: 100%;
  border: none;
  padding: 0 2em;
}

#chart_01{
  position: relative;
  padding: 30px;
}

#chart_02{
  position: relative;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-select{
  visibility:hidden;
}

.comment{
  background-color: #f1efec;
  border: none;
  .form-control{
    padding: 0.5em;
    margin-bottom: 1em;
    height: 6em;
    border: none;
  }
  .last_time{
    background-color: #e6c898;
    padding: 1em;
    margin-bottom: 1em;
    min-height: 6em;
    border-radius: 5px;
  }
  #title{
    text-align: center;
    margin: 20px auto;
    h3{
      border-bottom: solid 2px black;
      padding-bottom: 20px;
      font-weight: bold;
    }
    h5{
      margin: 20px 20px 5px;
    }
  }
  .info{
    color: dimgray;
  }
}

.box1 {
  padding: 0.5em 1em;
  background: #f0f7ff;
  border: dashed 2px #5b8bd0;/*点線*/
}
.box1 p {
  margin: 0; 
  padding: 0;
}

.box2 {
  position: relative;
  margin: 1em 0;
  padding: 0.5em 1em;
  border: solid 2px #000000;
  border-radius: 15px;
  font-size: 15px;
}
.box2 .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #ff8929;
  font-weight: bold;
}
.box2 p {
  margin: 0; 
  padding: 0.2em;
}
.border2 {
  border-bottom: dashed 3px #ff8929;
  padding: 0.5em 0;
}
.border2-bottom{
  padding-top: 0.5em;
}

.btn-warning {
  width: 250px;
  height: 50px;
  background-color: #ff8929;
  border: #ff8929;
  border-radius: 50px;
  font-size: 18px;
  margin: 20px auto;
}